 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }

 li {
    list-style: none;
 }

 .container {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin: 40px auto; 
 }

  .container ul {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .container ul li {
    letter-spacing: 1px;
    padding: 5px 15px;
    cursor: pointer;
    margin: 5px;
    text-transform: 1px;
    border-bottom: 1px solid transparent;
    font-weight: bold;
    font-size: 15px;
  }

  .container ul li.active{
    border-color: #c70039;
    color: #e84545;
  }

.art_cat {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.art_cat .itembox {
    position: relative;
    width: 400px; 
    height: 300px;
    margin: 5px;
    display: block;
}

.art_cat .itembox img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    cursor: pointer
}

.image__img {
  display: block;
  width: 100%
}

.image__overlay {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction:  column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.image__overlay:hover {
  opacity: 1;
}



.container .art_cat .itembox.show {
  animation: show .5s ease 0s 1 forwards;
  transform-origin: center;
}

.container .art_cat .itembox.hide {
  animation: hide .5s ease 0s 1 forwards;
  transform-origin: center;
}

@keyframes hide {
  0%{
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    width: 0;
    height: 0;
    margin:0;
  }
}

@keyframes show {
  0%{
    transform: scale(0);
    width: 0;
    height: 0;
    margin:0;
  }
  100% {
    transform: scale(1);
   
  }
}

@media(max-width: 480px) {
  .art_cat .itembox {
    width: 320px;
    height: 250px;
  }
}

.caption {
  display: none; /* Hides the caption initially */
  color: blue;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid blue;
}

h1 {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}


